.abus {
  margin-top: 190px;
  display: flex;
}
.abus .left {
  width: 100%;
}
.abus .left > div {
  text-align: start;
}
.abus .right {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
.abus .right img {
  position: relative;
  top: -50px;
}
.abus .right .blur {
  width: 300px;
  height: 300px;
  top: 25%;
  left: 40%;
}
.ourteam .images {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.ourteam .images img {
  width: 24%;
}
