.abus {
  margin-top: 190px;
  display: flex;
}
.abus .left {
  width: 100%;
}
.abus .left > div {
  text-align: start;
}
.abus .right {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
.abus .right img {
  position: relative;
  top: -50px;
}
.abus .right .blur {
  width: 300px;
  height: 300px;
  top: 25%;
  left: 40%;
}
.ourteam .images {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.ourteam .images img {
  width: 24%;
}

.faq .lists {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.faq .lists > div {
  padding: 24px;
  width: 60%;
  margin-top: 25px;
}
.faq .list-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.faq .list-drop {
  border-top: 1px solid #ffffff59;
  padding-top: 12px;
}
.faq .active {
  border: 1px solid;

  border-image-source: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);

  border-image-slice: 1;
}
