.nav ul li:nth-child(5) {
    font-weight: 600;
}

.nav ul li:first-child {
    font-weight: 300;
}

.section .title {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 12px;
}

.namepage .location {
    justify-content: center;
    gap: 5px;
}

    .namepage .location span {
        margin: 5px;
    }