.contact {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  width: 70%;
  justify-content: center;
}
.email,
.address,
.phone {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 250px;
}
.photo {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 20%;
  background: rgb(24, 24, 27);
  border-radius: 50%;
}
.photo::before {
  content: "";
  position: absolute;
  inset: -1px;
  background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  border-radius: 50%;
  z-index: -1;
}
.cell .photo img {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}
.border {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 1.5px solid transparent;
  border-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    )
    1;
}
.cell {
  background: #25253299;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.cell-name {
  background-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  background-clip: text;
  color: transparent;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  top: 60%;
  position: absolute;
}
.cell-info {
  margin-top: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
  position: absolute;
  top: 70%;
}
.email:hover .border,
.address:hover .border,
.phone:hover .border {
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  border-image-slice: 1;
}
.feedback {
  margin-top: 200px;
  position: relative;
  display: flex;
}
.feedback .left {
  width: 50%;
}
.outterBorder {
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid;
  margin: auto;
}
.innerBorder {
  justify-content: center;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
}
.manUs {
  position: relative;
  height: 540px;
  background: #25253299;
  width: 80%;
  z-index: 5;
  border-radius: 50%;
  border: 1px solid;
}
.manUs img {
  position: absolute;
  width: 100%;
  top: -30%;
}
.man {
  position: relative;
  z-index: 3;
}
.man img {
  position: relative;
  width: 80%;
}
.feedback .left .blur {
  position: absolute;
  width: 40%;
  height: 25%;
  top: 200px;
  z-index: 10;
  transform: rotate(345deg);
  filter: blur(42px);
}
.feedback .right {
  position: relative;
  width: 50%;
  z-index: 4;
}
.right .forms {
  margin-top: 25px;
  position: relative;
  width: 100%;
}
.right .forms .row {
  display: flex;
  padding-bottom: 20px;
}
.forms label {
  width: 49%;
}
.forms label:first-child {
  margin-right: 2%;
}
.forms input {
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: #25253299;
  background-clip: padding-box;
  border-radius: 4px;
  border: 1px solid transparent;
  border-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    )
    1;
}
.forms #message {
  height: 100px;
  align-content: center;
  opacity: 1;
  word-spacing: 1px;
  padding-bottom: 70px;
}
.forms .btn {
  margin-top: 20px;
  color: white;
  border: none;
}
.maps {
  margin-top: 150px;
  display: flex;
  position: relative;
  justify-content: center;
  height: 500px;
  z-index: 4;
}
.maps .map {
  width: 80%;
  object-fit: cover;
  object-position: top;
}
.maps .borderForMarker {
  position: absolute;
  width: 64px;
  height: 64px;
  margin-top: 250px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
}
.backgroundForMarker {
  position: absolute;
  left: 11.5px;
  top: 11.5px;
  width: 41px;
  height: 41px;
  background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  border-radius: 50%;
}
.marker {
  position: absolute;
  z-index: 3;
  width: 20px;
  left: 10.5px;
  top: 10.5px;
}
