.nav ul li:nth-child(1) {
  font-weight: 500;
}
.section-man {
  display: flex;
  justify-content: space-between;
}
.section-man .right .image {
  display: flex;
  align-items: end;
  position: relative;
  z-index: 2;
}

.section-man .right img {
  width: 526px;
  height: 626px;
}
.section-man .left {
  position: relative;
  z-index: 10;
}
.section-man .left .title_desc {
  margin-top: 87px;
}
.section-man .left .title_desc {
  width: 540px;
  height: 316px;
}
.section-man .left .title_desc .title {
  font-size: 64px;
  font-weight: 600;
}
.section-man .left .title_desc .desc {
  color: #d1d1d1;
  margin-top: 12px;
}
.section-man .left .additional {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.section-man .left .additional .happy {
  display: flex;
  align-items: center;
}
.section-man .left .additional .happy .happy-clients img {
  width: 125px;
  height: 50px;
  margin-right: 15px;
}
.section-man .left .additional .happy span {
  color: #d1d1d1;
}
.section-man .left .additional .video {
  margin-left: 75px;
}
.section-man .left .additional .video img {
  width: 196px;
  height: 127px;
}

.square {
  top: 284px;
}

.screenimage {
  margin: 0 auto;
  margin-top: 50px;
}

.article-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.5%;
  margin-bottom: 32px;
}
.article-photos {
  width: 636px;
  height: 425px;
  position: relative;
  z-index: 10;
}
.article-photos img {
  width: 100%;
  height: 100%;
}
.recent-article {
  width: 800px;
  height: 650px;
  position: absolute;
  right: 0;
  z-index: 1;
  top: -70px;
}
.recent-article img {
  width: 100%;
  height: 100%;
}

.popular-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.5%;
  margin: 100px 0 30px 0;
}
.popular-image {
  width: 55%;
  position: relative;
  z-index: 10;
}
.popular-image img {
  width: 100%;
}
.image-text-title .btn,
.article-vr-right .btn {
  padding: 15px;
  background: #ffffff0f;
}
.popular-image-text {
  position: absolute;
  bottom: 50px;
  width: 100%;
  padding: 0 25px;
}
.image-text-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.image-title {
  width: 70%;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.5%;
  margin-top: 15px;
}
.wrapper-btn {
  display: flex;
  align-items: center;
}
.tag_h {
  border-radius: 16px;
  display: inline-block;
  padding: 2px 10px;
  background: #ffffff4d;
}
.ourarticles {
  position: relative;
}

.recentarticles {
  width: 55%;
  height: 600px;
  overflow: hidden;
  padding: 32px 100px 0 97px;

  position: absolute;
  right: -120px;
  top: 150px;
  z-index: 1;
}
.article-vr {
  display: flex;
  width: 90%;
}
.vr-image {
  margin-right: 20px;
}
.vr-image img {
  width: 120px;
}
.article-vr-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.vr-btn-group {
  display: flex;
  align-items: center;
}
.articles-group-element {
  display: flex;
  height: 100%;
  position: relative;
}
.scroll-line {
  position: absolute;
  height: 80%;
  width: 3px;
  right: 0;
  background: #ffffff1f;
}
.scroll-in {
  position: absolute;
  height: 5%;
  width: 3px;
  background: #ffffff;
  top: 20%;
}
.article-vr-title {
  padding-right: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}
.article-vr-right .tag {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
.line-articles {
  width: 90%;
  height: 1px;
  border: 1px solid #ffffff26;
  margin: 30px 0;
}
.articles-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.5%;
  margin-bottom: 30px;
}

.why {
  margin-top: 150px;
}
.getstart > div:first-child {
  margin-top: 150px;
}

@media (max-width: 1360px) {
  .section-man {
    position: relative;
  }
  .section-man .right img {
    width: 400px;
    height: 500px;
  }
  .section-man .right {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: end;
  }
  .section-man .right .image {
    display: flex;
    justify-content: end;
    align-items: end;
  }
  .recentarticles {
    width: 65%;
  }
}
@media (max-width: 1200px) {
  .ourtrusted {
    margin-top: 250px;
    margin-bottom: 100px;
  }
}
@media (max-width: 1175px) {
  .why {
    display: flex;
    flex-direction: column-reverse;
  }
  .why .left {
    width: 100%;
    margin-top: 100px;
  }
  .getstart > div:first-child {
    margin-top: 100px;
  }

  .recentarticles {
    position: static;
    width: 100%;
  }
  .popular-image {
    width: 100%;
  }
  .popular-title {
    margin-top: 40px;
  }
  .popular-article {
    margin-bottom: 70px;
  }
}
@media (max-width: 900px) {
  .section-man .left .additional {
    flex-direction: column;
    align-items: start;
  }
  .section-man .left .additional .video {
    margin-left: 0;
    margin: 144px 0;
  }
  .section-man .right img {
    width: 350px;
    height: 420px;
  }
  .why {
    margin-top: 100px;
  }
  .ourtrusted {
    margin-top: 250px;
  }
  .ourtrusted .title {
    text-align: center;
  }
}
@media (max-width: 815px) {
  .ourarticles {
    margin-bottom: 100px;
  }
  .recentarticles {
    padding: 20px 0 15px 15px;
  }
  .scroll-line {
    right: 30px;
  }
  .vr-btn-group {
    display: none;
  }
  .article-vr {
    width: 85%;
  }
  .line-articles {
    width: 85%;
  }
}
@media (max-width: 630px) {
  .why .right {
    width: 400px;
    height: 500px;
    display: flex;
    align-items: end;
    left: -10px;
  }
  .section-man .left .title_desc .title {
    font-size: 48px;
  }
  .section-man .left .title_desc .desc {
    width: 70%;
  }
  .section-man .right {
    right: -160px;
  }
  .aboutus .left .image img {
    width: 390px;
  }
  .aboutus {
    margin-bottom: 100px;
  }
  .popular-image-text {
    bottom: 30px;
  }
  .image-title {
    font-size: 20px;
  }
  .tag_h {
    font-size: 14px;
  }
}
