.section-man {
  display: flex;
  justify-content: space-between;
}
.section-man .right .image {
  display: flex;
  align-items: end;
  position: relative;
  z-index: 2;
}

.section-man .right img {
  width: 526px;
  height: 626px;
}
.section-man .left {
  position: relative;
  z-index: 10;
}
.section-man .left .title_desc {
  margin-top: 87px;
}
.section-man .left .title_desc {
  width: 540px;
  height: 316px;
}
.section-man .left .title_desc .title {
  font-size: 64px;
  font-weight: 600;
}
.section-man .left .title_desc .desc {
  color: #d1d1d1;
  margin-top: 12px;
}
.section-man .left .additional {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.section-man .left .additional .happy {
  display: flex;
  align-items: center;
}
.section-man .left .additional .happy .happy-clients img {
  width: 125px;
  height: 50px;
  margin-right: 15px;
}
.section-man .left .additional .happy span {
  color: #d1d1d1;
}
.section-man .left .additional .video {
  margin-left: 75px;
}
.section-man .left .additional .video img {
  width: 196px;
  height: 127px;
}

.square {
  top: 284px;
}

.ourservice {
  position: relative;
  margin-top: 150px;
}
.ourservice .text {
  display: flex;
  justify-content: space-between;
}
.ourservice .text .right {
  width: 50%;
  color: #d1d1d1;
}
.ourservice .right {
  position: relative;
}
.ourservice .blur {
  height: 150px;
  width: 300px;
  top: 0;
  left: 70%;
  right: 0;
  transform: rotate(315deg);
}
.ourservice .block {
  width: 95%;
  position: relative;
  margin-bottom: 32px;
}
.ourservice .block:hover .learnmore {
  display: flex;
}
.ourservice .block .reason {
  padding: 38px 56px 51px 32px;
}
.ourservice .block .reason img {
  width: 48px;
  height: 48px;
}
.ourservice .blocks {
  display: flex;
  margin-top: 45px;
  justify-content: space-between;
}
.ourservice .blocks .column:nth-child(2) {
  margin-top: 60px;
}
.ourservice .blocks .column:nth-child(3) {
  margin-top: 135px;
}

.learnmore {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  align-items: end;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(37, 37, 50, 0) 0%,
    rgba(37, 37, 50, 0.91) 53.06%,
    #252532 100%
  );
}
.learnmore .button {
  width: 177px;
  height: 50px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  border: 1px solid;

  border-image-source: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);

  border-image-slice: 1;
}
.ourservice .blocks .column {
  flex: 1;
}
.ourservice .blocks .column .backgroundForBlocks:hover {
  border: 1px solid;

  border-image-source: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  border-image-slice: 1;
}

.screenimage {
  margin: 0 auto;
  margin-top: 50px;
}

.testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 211px;
  position: relative;
  margin-bottom: 100px;
}
.testimonial .name,
.testimonial .title {
  position: relative;
  z-index: 10;
}
.testimonial-pos {
  position: absolute;
  top: 115px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial .circle-image img {
  width: 100%;
}

.ourpricing .desc {
  width: 600px;
}

.ourpricing {
  position: relative;
  z-index: 10;
}

.article-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.5%;
  margin-bottom: 32px;
}
.article-photos {
  width: 636px;
  height: 425px;
  position: relative;
  z-index: 10;
}
.article-photos img {
  width: 100%;
  height: 100%;
}
.recent-article {
  width: 800px;
  height: 650px;
  position: absolute;
  right: 0;
  z-index: 1;
  top: -70px;
}
.recent-article img {
  width: 100%;
  height: 100%;
}

.popular-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.5%;
  margin: 100px 0 30px 0;
}
.popular-image {
  width: 55%;
  position: relative;
  z-index: 10;
}
.popular-image img {
  width: 100%;
}
.image-text-title .btn,
.article-vr-right .btn {
  padding: 15px;
  background: #ffffff0f;
}
.popular-image-text {
  position: absolute;
  bottom: 50px;
  width: 100%;
  padding: 0 25px;
}
.image-text-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.image-title {
  width: 70%;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.5%;
  margin-top: 15px;
}
.wrapper-btn {
  display: flex;
  align-items: center;
}
.tag_h {
  border-radius: 16px;
  display: inline-block;
  padding: 2px 10px;
  background: #ffffff4d;
}
.ourarticles {
  position: relative;
}

.recentarticles {
  width: 55%;
  height: 600px;
  overflow: hidden;
  padding: 32px 100px 0 97px;

  position: absolute;
  right: -120px;
  top: 150px;
  z-index: 1;
}
.article-vr {
  display: flex;
  width: 90%;
}
.vr-image {
  margin-right: 20px;
}
.vr-image img {
  width: 120px;
}
.article-vr-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.vr-btn-group {
  display: flex;
  align-items: center;
}
.articles-group-element {
  display: flex;
  height: 100%;
  position: relative;
}
.scroll-line {
  position: absolute;
  height: 80%;
  width: 3px;
  right: 0;
  background: #ffffff1f;
}
.scroll-in {
  position: absolute;
  height: 5%;
  width: 3px;
  background: #ffffff;
  top: 20%;
}
.article-vr-title {
  padding-right: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}
.article-vr-right .tag {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
.line-articles {
  width: 90%;
  height: 1px;
  border: 1px solid #ffffff26;
  margin: 30px 0;
}
.articles-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.5%;
  margin-bottom: 30px;
}

.article-btn:hover {
  cursor: pointer;
}

.price-list {
  display: flex;
  padding: 55px 42px;
  padding-right: 0;
  margin-top: 40px;

  background: #252532cf;
}
.price-list .left {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.price-list .left {
  width: 70%;
}
.price-element {
  display: flex;
  margin-bottom: 32px;
}
.price-element:last-child {
  margin-bottom: 0;
}
.price-element-image img {
  width: 42px;
  height: 42px;
}
.price-element-text {
  margin-left: 16px;
}
.price-element-text .price-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;

  margin-bottom: 12px;
}
.price-element-text .price-desc {
  width: 80%;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  color: #b0b0b2;
}
.price-get-start .btn {
  cursor: pointer;
  background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
}

.price-list .right {
  position: relative;
}
.price-get-start {
  background: #252532;
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  border-image-slice: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 320px;
  padding: 20px 0;

  text-align: center;
  position: absolute;
  bottom: -150px;
  left: -100px;
}

.price-get-start .price-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #d1d1d1;
}
.price-get-start .price-count {
  font-weight: 600;
  font-size: 60px;
  line-height: 66px;
  letter-spacing: 0;

  margin-bottom: 15px;
}
.price-get-start .price-condition {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0;

  margin-top: 15px;
}

.why {
  margin-top: 150px;
}
.getstart > div:first-child {
  margin-top: 150px;
}

@media (max-width: 1380px) {
  .ourpricing .left > div {
    width: 95%;
  }
  .ourpricing .startfrom {
    right: 2%;
  }
}
@media (max-width: 1280px) {
  .ourpricing .left {
    width: 95%;
  }
  .ourpricing .left > div {
    border: none;
    padding-bottom: 50px;
    border-bottom: 1px solid grey;
  }
  .ourpricing .startfrom {
    right: 350px;
  }
  .price-add .price-text {
    width: 90%;
  }
  .ourpricing .right {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 1360px) {
  .section-man {
    position: relative;
  }
  .section-man .right img {
    width: 400px;
    height: 500px;
  }
  .section-man .right {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: end;
  }
  .section-man .right .image {
    display: flex;
    justify-content: end;
    align-items: end;
  }
}
@media (max-width: 1175px) {
  .why {
    display: flex;
    flex-direction: column-reverse;
  }
  .why .left {
    width: 100%;
    margin-top: 100px;
  }
  .getstart > div:first-child {
    margin-top: 100px;
  }
  .testimonial {
    margin-top: 100px;
  }
  .testimonial .circle-image img {
    width: 880px;
  }
  .testimonial .title {
    text-align: center;
  }
}
@media (max-width: 900px) {
  .section-man .left .additional {
    flex-direction: column;
    align-items: start;
  }
  .section-man .left .additional .video {
    margin-left: 0;
    margin: 144px 0;
  }
  .section-man .right img {
    width: 350px;
    height: 420px;
  }
  .ourservice .blocks {
    flex-direction: column;
  }
  .ourservice .blocks .column:nth-child(2) {
    margin-top: 0;
  }
  .ourservice .blocks .column:nth-child(3) {
    margin-top: 0;
  }
  .ourservice .block {
    width: 100%;
  }
  .ourservice .column:last-child .block:last-child {
    margin-bottom: 0;
  }
  .why {
    margin-top: 100px;
  }
  .ourtrusted {
    margin-top: 150px;
  }
  .ourtrusted .title {
    text-align: center;
  }