.section-man {
  display: flex;
  justify-content: space-between;
}
.section-man .right .image {
  display: flex;
  align-items: end;
  position: relative;
  z-index: 2;
}

.section-man .right img {
  width: 526px;
  height: 626px;
}
.section-man .left {
  position: relative;
  z-index: 10;
}
.section-man .left .title_desc {
  margin-top: 87px;
}
.section-man .left .title_desc {
  width: 540px;
  height: 316px;
}
.section-man .left .title_desc .title {
  font-size: 64px;
  font-weight: 600;
}
.section-man .left .title_desc .desc {
  color: #d1d1d1;
  margin-top: 12px;
}
.section-man .left .title_desc .button {
  width: 200px;
  margin-top: 32px;
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
}
.section-man .left .additional {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.section-man .left .additional .happy {
  display: flex;
  align-items: center;
}
.section-man .left .additional .happy .happy-clients img {
  width: 125px;
  height: 50px;
  margin-right: 15px;
}
.section-man .left .additional .happy span {
  color: #d1d1d1;
}
.section-man .left .additional .video {
  margin-left: 75px;
}
.section-man .left .additional .video img {
  width: 196px;
  height: 127px;
}

.square {
  top: 284px;
}

.whychooseus {
  position: relative;
  z-index: 10;
}
.whychooseus > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 60px 50px 60px;
}
.whychooseus .reason {
  margin-right: 50px;
}
.whychooseus .reason:last-child {
  margin-right: 0;
}

.aboutus {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-top: 120px;
}
.aboutus .left .image {
  width: 550px;
  height: 650px;
}
.aboutus .left .image img {
  width: 100%;
  height: 100%;
}
.aboutus .right {
  margin-left: 130px;
  margin-bottom: 15px;
}
.aboutus .right .name {
  margin-bottom: 12px;
}
.aboutus .right .desc {
  color: #d1d1d1;
  font-weight: 300;
  margin-bottom: 24px;
}
.aboutus .right .points ul {
  list-style: none;
}
.aboutus .right .points li {
  margin-bottom: 14px;
  font-weight: 400;
}
.aboutus .right .points li img {
  width: 14px;
  height: 14px;
  margin-right: 12px;
}
.aboutus .right .points li:last-child {
  margin-bottom: 0;
}
.aboutus .right .points {
  margin-bottom: 32px;
}
.aboutus .right .readmore {
  width: 168px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
}

.ourservice {
  position: relative;
  margin-top: 150px;
}
.ourservice .text {
  display: flex;
  justify-content: space-between;
}
.ourservice .text .right {
  width: 50%;
  color: #d1d1d1;
}
.ourservice .right {
  position: relative;
}
.ourservice .blur {
  height: 150px;
  width: 300px;
  top: 0;
  left: 70%;
  right: 0;
  transform: rotate(315deg);
}
.ourservice .block {
  width: 400px;
  margin-bottom: 32px;
}
.ourservice .block .reason {
  padding: 38px 56px 51px 32px;
}
.ourservice .block .reason img {
  width: 48px;
  height: 48px;
}
.ourservice .blocks {
  display: flex;
  margin-top: 45px;
  justify-content: space-between;
}
.ourservice .blocks .column:nth-child(2) {
  margin-top: 60px;
}
.ourservice .blocks .column:nth-child(3) {
  margin-top: 135px;
}
