.section-man {
  display: flex;
  justify-content: space-between;
}
.section-man .right .image {
  display: flex;
  align-items: end;
  position: relative;
  z-index: 2;
}
.blur {
  position: absolute;
  width: 80%;
  height: 60%;
  top: 250px;
  left: 50px;
  z-index: 1;

  background: linear-gradient(
    98.54deg,
    rgba(28, 196, 249, 0.8) 0.72%,
    rgba(254, 105, 254, 0.8) 90.69%
  );
  filter: blur(105px);
  transform: rotate(-90deg);
}

.section-man .right img {
  width: 526px;
  height: 626px;
}
.section-man .left .title_desc {
  margin-top: 87px;
}
.section-man .left .title_desc {
  width: 540px;
  height: 316px;
}
.section-man .left .title_desc .title {
  font-size: 64px;
  font-weight: 600;
}
.section-man .left .title_desc .desc {
  color: #d1d1d1;
  margin-top: 12px;
}
.section-man .left .title_desc .button {
  width: 200px;
  margin-top: 32px;
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
}
.section-man .left .additional {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.section-man .left .additional .happy {
  display: flex;
  align-items: center;
}
.section-man .left .additional .happy .happy-clients img {
  width: 125px;
  height: 50px;
  margin-right: 15px;
}
.section-man .left .additional .happy span {
  color: #d1d1d1;
}
.section-man .left .additional .video {
  margin-left: 75px;
}
.section-man .left .additional .video img {
  width: 196px;
  height: 127px;
}

.square {
  top: 284px;
}
.whychooseus {
  position: relative;
  background: #252532;

  border: 1px solid;

  border-image-source: linear-gradient(
    94.92deg,
    rgba(255, 255, 255, 0.3) -0.29%,
    rgba(255, 255, 255, 0) 100%
  );
  border-image-slice: 1;
}
.whychooseus > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 60px 50px 60px;
}
.whychooseus .reason {
  margin-right: 50px;
}
.whychooseus .reason:last-child {
  margin-right: 0;
}
.whychooseus .reason .icon img {
  width: 70px;
  height: 70px;
}
.whychooseus .reason .icon {
  margin-bottom: 40px;
}
.whychooseus .reason .title {
  font-size: 20px;
  font-weight: 400;
}
.whychooseus .reason .desc {
  color: #b0b0b2;
  font-size: 14px;
  margin-top: 12px;
}

.aboutus {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.aboutus .left .image {
  width: 600px;
  height: 620px;
}
.aboutus .left .image img {
  width: 100%;
}
.aboutus .right {
  margin-left: 130px;
  margin-top: 80px;
}
.aboutus .right .name {
  margin-bottom: 12px;
}
.aboutus .right .name span {
  background-image: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  background-clip: text;
  color: transparent;
  font-weight: 500;
}
.aboutus .right .title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 12px;
}
.aboutus .right .desc {
  color: #d1d1d1;
  font-weight: 300;
  margin-bottom: 24px;
}
.aboutus .right .points ul {
  list-style: none;
}
.aboutus .right .points li {
  margin-bottom: 14px;
  font-weight: 400;
}
.aboutus .right .points li img {
  width: 14px;
  height: 14px;
  margin-right: 12px;
}
.aboutus .right .points li:last-child {
  margin-bottom: 0;
}
.aboutus .right .points {
  margin-bottom: 32px;
}
.aboutus .right .readmore {
  width: 168px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
}
