.ourpricing {
  margin-top: 150px;
}
.ourservice {
  position: relative;
  margin-top: 150px;
}
.ourservice .text {
  display: flex;
  justify-content: space-between;
}
.ourservice .text .right {
  width: 50%;
  color: #d1d1d1;
}
.ourservice .right {
  position: relative;
}
.ourservice .blur {
  height: 150px;
  width: 300px;
  top: 0;
  left: 70%;
  right: 0;
  transform: rotate(315deg);
}
.ourservice .block {
  width: 95%;
  position: relative;
  margin-bottom: 32px;
}
.ourservice .block:hover .learnmore {
  display: flex;
}
.ourservice .block .reason {
  padding: 38px 56px 51px 32px;
}
.ourservice .block .reason img {
  width: 48px;
  height: 48px;
}
.ourservice .blocks {
  display: flex;
  margin-top: 45px;
  justify-content: space-between;
}
.ourservice .blocks .column {
  flex: 1;
}
.ourservice .blocks .column .backgroundForBlocks:hover {
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  border-image-slice: 1;
}
.ourservice .blocks .column:nth-child(2) {
  margin-top: 60px;
}
.ourservice .blocks .column:nth-child(3) {
  margin-top: 135px;
}
.learnmore {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  align-items: end;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(37, 37, 50, 0) 0%,
    rgba(37, 37, 50, 0.91) 53.06%,
    #252532 100%
  );
}
.learnmore .button {
  width: 177px;
  height: 50px;
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  border: 1px solid;
  background-color: rgba(50, 50, 61, 0.7);
  border-image-source: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);

  border-image-slice: 1;
}
.information{
	margin-top: 150px;
	margin-left:auto;
	margin-right:auto;
	display: flex;
	position:relative;
	width: 70%;
	justify-content: center;
}	
.information_back{
	position:absolute;
	width:75%;
	top:30px;
	height:15%;
	background-color:#C4A6FD;
	filter: blur(50px);
}

.happyclients, .projectcomplete, .experience{
	margin-left: auto;
	margin-right: auto;
}
.ourpricing {
  position: relative;
	margin-top:150px;
}
.ourpricing .name, .title{
	position:relative;
	z-index: 10;
}
.price-list {
  display: flex;
	position: relative;
  padding: 55px 42px;
  padding-right: 0;
  margin-top: 40px;
	z-index: 10;
  background: #252532cf;
}
.price-list .left {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
	width: 70%;
}
.price-element {
  display: flex;
  margin-bottom: 32px;
}
.price-element:last-child {
  margin-bottom: 0;
}
.price-element-image img {
  width: 42px;
  height: 42px;
}
.price-element-text {
  margin-left: 16px;
}
.price-element-text .price-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;

  margin-bottom: 12px;
}
.price-element-text .price-desc {
  width: 80%;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  color: #b0b0b2;
}

.price-list .right {
  position: relative;
}
.VR-image{
	height:100%;
	margin-left:20%;
	margin-right:10%;
	position:relative;
	z-index:10;
}
.VR-image img{
	width:100%;
}
.price-get-start {
  background: #252532;
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  border-image-slice: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 320px;
  padding: 20px 0;

  text-align: center;
  position: absolute;
  bottom: -150px;
  left: -100px;
}
.price-get-start .btn {
  cursor: pointer;
  background: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
} 

.price-get-start .price-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #d1d1d1;
}
.price-get-start .price-count {
  font-weight: 600;
  font-size: 60px;
  line-height: 66px;
  letter-spacing: 0;

  margin-bottom: 15px;
}
.price-get-start .price-condition {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0;

  margin-top: 15px;
}
.testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 211px;
  position: relative;
  margin-bottom: 100px;
}
.testimonial .name,
.testimonial .title {
  position: relative;
  z-index: 10;
}
.testimonial-pos {
  position: absolute;
  top: 115px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial .circle-image img {
  width: 100%;
}
.ourpricing .desc .blur{
	position: absolute;
  width: 350px;
  height: 100px;
  top: 0;
  left: -115px;
  z-index: 1;
  transform: rotate(345deg);
  filter: blur(42px);
}
.ourpricing .price-list .blur{
	position:absolute;
	width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: rotate(345deg);
  filter: blur(242px);
}