.nav ul li:nth-child(4) {
  font-weight: 500;
}

.ourteam-images {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.team-element {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin-bottom: 40px;
}
.team-element img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(50, 70, 188, 0) 0%, #192883 100%);
}
.border {
  position: absolute;
  width: 105%;
  height: 103%;
  z-index: 1;
  background: #25253299;
}
.person-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  bottom: 50px;
}
.person-name {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
}
.person-post {
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: #b0b0b2;
}
.team-element:hover .border {
  border: 1px solid;

  border-image-source: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);

  border-image-slice: 1;
}
.team-element:hover .person-social {
  display: flex;
}
.person-social {
  position: absolute;
  bottom: 120px;
  z-index: 10;
  display: none;
  justify-content: center;
  width: 100px;
}
.person-social img {
  width: 60%;
  margin-right: 25px;
}
.person-social img:last-child {
  margin-right: 0;
}

.information {
  display: flex;
  margin-top: 150px;
  justify-content: space-around;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #343445 0%,
    rgba(32, 32, 41, 0) 100%
  );
}

@media (max-width: 1175px) {
  .ourteam {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ourteam-images {
    width: 70%;
  }
  .team-element {
    width: 45%;
  }
  .person-social img {
    width: 40%;
  }
  .person-info {
    bottom: 25px;
  }
}

@media (max-width: 900px) {
  .person-info {
    bottom: 15px;
  }
}
@media (max-width: 715px) {
  .ourteam-images {
    width: 100%;
    justify-content: center;
  }
  .team-element {
    width: 70%;
  }
  .information {
    display: none;
  }
  .ourteam {
    margin-bottom: 100px;
  }
}

@media (max-width: 815px) {
  .information {
    margin-bottom: 100px;
  }
}
