.nav ul li:nth-child(4) {
    font-weight: 600;
}

.nav ul li:first-child {
    font-weight: 300;
}

.pricing-section {
    padding: 120px 120px 80px;
    background: #18181b;
    color: white;
    font-family: "Chakra Petch", sans-serif;
    position: relative;
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}

.section-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    position: relative;
}

.section-subtitle {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
    color: white;
}

.section-description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    color: #D1D1D1;
    width: 800px;
    margin: 0 auto;
}

.pricing-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.pricing-card {
    background: #252532;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    padding: 40px 30px;
    text-align: left;
    width: 30%;
    position: relative;
}

.pricing-card--featured {
    background: linear-gradient(#252532, #252532) padding-box, linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) border-box;
    border: 2px solid transparent;
    border-radius: 10px;
    position: relative;
}

.plan-header {
    margin-bottom: 20px;
}

.plan-name {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    color: white;
}

.plan-price {
    margin-bottom: 15px;
}

.price {
    font-size: 62px;
    font-weight: 700;
    color: white;
    background: none;
    -webkit-text-fill-color: white;
}

.period {
    font-size: 16px;
    color: #71717A;
}

.plan-description {
    font-size: 16px;
    color: #B0B0B2;
    margin-bottom: 30px;
    line-height: 1.5;
}

.plan-features {
    list-style: none;
    text-align: left;
    margin-bottom: 40px;
}

.plan-features li {
    color: white;
    margin-bottom: 15px;
    font-weight: 600;
    padding-left: 30px;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
}

.plan-features li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 16px;
    height: 16px;
    background-image: url('../image/icon/marker-list.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.trial-button {
    width: 100%;
    padding: 15px 20px;
    background: #FFFFFF0F;
    border: 2px solid;
    border-image: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%) 1;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    font-family: "Chakra Petch", sans-serif;
}

.pricing-card--featured .trial-button {
    background: linear-gradient(90deg, #0CBAF1 0%, #E95CE9 100%);
    border: none;
}

.why {
    flex-direction: row-reverse;
}

.faq .title {
    text-align: center;
}

.faq>div>.desc {
    width: 50%;
}

.faq .lists {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.faq .lists>div {
    padding: 24px;
    width: 60%;
    margin-top: 25px;
}

.faq .list-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.faq .list-drop {
    border-top: 1px solid #ffffff59;
    padding-top: 12px;
}

.faq .active {
    border: 1px solid;

    border-image-source: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);

    border-image-slice: 1;
}

@media (max-width: 1175px) {
    .why {
        flex-direction: column-reverse;
        align-items: center;
    }

    .why .left {
        width: 100%;
        margin-top: 90px;
    }

    .faq>div>.desc {
        width: 100%;
    }

    .faq .lists>div {
        width: 100%;
    }

    .pricing-section {
        padding: 80px 40px 60px;
    }

    .container {
        width: 100%;
    }

    .section-description {
        width: 70%;
    }

    .pricing-cards {
        justify-content: center;
    }
    
    .pricing-card {
        width: 50%;
        margin: 0 40px;
        margin-bottom: 40px;
    }
}

@media (max-width: 900px) {
    .why .right {
        width: 400px;
        height: 505px;
    }

    .pricing-section {
        padding: 60px 20px 40px;
    }
    
    .section-subtitle {
        font-size: 36px;
    }
    
    .section-description {
        width: 70%;
    }
    
    .pricing-card {
        width: 60%;
        margin: 0 30px;
        margin-bottom: 40px;
    }
}

@media (max-width: 715px) {
    pricing-section {
        padding: 60px 20px 40px;
    }
    
    .section-subtitle {
        font-size: 32px;
    }
    
    .section-description {
        width: 100%;
    }
    
    .pricing-cards {
        justify-content: center;
    }
    
    .pricing-card {
        width: 100%;
        margin: 0 30px;
        margin-bottom: 40px;
    }

    .faq {
        margin-bottom: 100px;
    }
}