@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: #18181b;
}
.header {
  font-family: "Chakra Petch";
  color: white;
  padding: 31px 120px;
}
.header .menu {
  display: flex;
  align-items: center;
  height: 52px;
  justify-content: space-between;
}
.header .logo {
  display: flex;
  align-items: center;
}
.header .logo img {
  width: 38px;
  height: 30px;
  margin-right: 5px;
}
.header .logo div {
  font-size: 20px;
  background: linear-gradient(
    91.75deg,
    #ffffff 1.21%,
    rgba(255, 255, 255, 0) 104.47%
  );
  background-clip: text;
  color: transparent;
}
.header ul {
  list-style: none;
  display: flex;
}
.nav ul li:first-child {
  font-weight: 500;
}
.nav ul li {
  padding: 0 60px;
  font-weight: 300;
  font-style: normal;
}
.nav ul li div {
  display: inline-block;
  transform: rotate(90deg);
  font-size: 12px;
  margin-left: 5px;
}
.header .contactus {
  width: 130px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-image-source: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  border-image-slice: 1;
  font-weight: 300;
}
.backimage {
  position: absolute;
  right: 0;
  top: 0;
}
